/* styles.css */

/* Common styles for all banners */
.banner-view {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-info-bg {
    background: rgba(0, 0, 0, 0.58); /* Dark overlay for better text readability */
    padding: 20px;
    border-radius: 10px;
}

.banner-info h5 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.transparent-btn {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: #fff;
	font-size: 18px;
}

/* Specific styles for each banner */
.bg2 {
    background-image: url('slide1.jpg');
}

.banner-top1 {
    background-image: url('slide2.jpg');
}

.banner-top2 {
    background-image: url('slide3.jpg');
}

.banner-top3 {
    background-image: url('slide2.jpg');
}
.slider-info {
	height: 500px;
	width:100%;
    background-size: cover; 
    background-position: center; 
 }
 @media (max-width: 768px) {
    .slider-info {
    height: 300px; /* Adjust the height for smaller screens */
 }
 }
 .container{
	 text-align: center;
 }
 @media (min-width: 1200px) {
    .container {
        width: 600px;
        margin-left: 380px;
    }
}
        .owl-prev, .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            padding: 15px;
            cursor: pointer;
            z-index: 1000;
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
       .owl-theme .owl-nav {
            color: #000;
            font-size: 50px;
            margin: 0px;
            padding: 15px 20px; /* Adjusted padding for larger size */
            display: inline-block;
            cursor: pointer;
            border-radius: 3px;
        }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: #ffffffcf;
    border: none;
    padding: 0 !important;
    font: inherit;
}