.room-product-main {
    padding: 10px;
    border-radius: 5px;
	border: 2px solid #ababab;
}

.form-group {
    margin-bottom: 15px;
    padding-top: 10px;
	margin-right: 60px;
}
a {
    color: #337ab7;;
    text-decoration: none;
}
.room-grid {
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .room-grid {
        width: 25%;
        float: left;
    }
}
.col-md-2 {
	margin-top:15px; 
	}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

.form-control {
    width: 100%;
    max-width: 400px; /* Điều chỉnh kích thước tối đa */
}
.room-product-bottom{
	padding-left: 30px;
}
.btn-primary {
    color: #fff;
    font-size: 16px;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary {
    color: #fff;
    font-size: 14px;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}